<p id="notice"><%= notice %></p>

<p>
  <strong>Mic level:</strong>
  <%= number_with_precision(@setting.mic_level, :precision => 1) %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
